@page "/about"
<PageTitle>关于</PageTitle>
<h1>关于</h1>

<p>WFBot <a href="https://github.com/TRKS-Team/WFBot/">GitHub</a></p>
<p>WFBot <a href="https://github.com/TRKS-Team/WFBot/blob/universal/README.md">文档</a></p>

<img src="https://wfbot.cyan.cafe/api/Sponsors" />
@code {

}
