@page "/feature"
@using WFBot.Orichalt
@using System.Diagnostics
<PageTitle>一些功能</PageTitle>
<h1>功能</h1>
<div>
    <h2>超级广播</h2>
    <p>向所有开启了通知功能的群发送一条广播</p>
    <input type="text" class="form-control my-3" @bind="broadcastContent" />
    <button class="btn btn-danger" @onclick="() => ModalShow()">发送！</button>
    <h2 class="mt-4">删除所有缓存</h2>
    <p>如果因为缓存原因不能载入机器人, 可以在这里删除</p>
    <button class="btn btn-danger" @onclick="() => DeleteCache()">删除</button>

</div>

@if (showModal)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">确定？</h4>
                    <button type="button" class="btn-close" @onclick="@ModalCancel" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>你确定要发送超级广播？</p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn" @onclick="@ModalCancel" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" @onclick=@ModalOk>发送</button>
                </div>

            </div>
        </div>
    </div>
}

@code {
    // 抄代码 https://gist.github.com/conficient/ba98d1662c659e170ec16650acea05c8
    string broadcastContent;
    bool showModal = false;

    void ModalShow() => showModal = true;
    void ModalCancel() => showModal = false;
    void ModalOk()
    {
        MiguelNetwork.Broadcast(broadcastContent);
        showModal = false;
    }

    void DeleteCache()
    {
        Task.Run(() =>
        {
            foreach (var file in Directory.GetFiles("WFCaches"))
            {
                try
                {
                    File.Delete(file);
                }
                catch (Exception e)
                {
                    Trace.WriteLine($"缓存 {file} 删除失败: {e}");
                }
            }
        });
    }
}
