@page "/"
@using Microsoft.AspNetCore.Components.Server.Circuits
@using System.Diagnostics
@using WFBot.Features.Telemetry
@implements IDisposable
<PageTitle>主页</PageTitle>
<h1>WFBot Dashboard</h1>
<h2>状态</h2>
<p>客户端 ID @(TelemetryClient.ClientID)</p>
<p>已经运行了 @((DateTime.Now - WFBotCore.StartTime).ToString("d' 天 'hh\\:mm\\:ss")).</p>
<p>当前内存占用 @((Environment.WorkingSet / 1024.0 / 1024.0).ToString("F2")) MB.</p>
<p>当前存储占用 @((new DirectoryInfo(".").EnumerateFiles("*.*", SearchOption.AllDirectories).Select(f => f.Length).Sum() / 1024.0 / 1024.0).ToString("F1") + " MB").</p>
<!--TODO 写一个检测是否最新版-->
<br>
<h2>日志</h2>

<div class="card">
    <div class="card-body " >
        <div class="" style="">
            <pre style="max-height: 400px; display: flex; flex-direction: column-reverse; /*这个玩意找了我两个小时*/ white-space:pre-wrap; word-break: break-word">
            <code>
                @foreach (var c in WebLogTraceListener.Lines)
                {
                    @c
                }
            </code>
        </pre>
        </div>
    </div>
</div>
<h2 class="my-2">执行控制台命令</h2>
<div class="row mb-5">
    <div class="col-sm-10">
        <input type="text" @bind="command" class="form-control"/>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary" @onclick="ExecuteCommand">执行</button>
    </div>
</div>
    


@code
{
    string command;
    Timer updateTimer;
    protected override void OnInitialized()
    {
        WFBotWebUIServer.DataChanged += HandleDataChanged;
        updateTimer = new Timer(Tick, null, 0, 1000); 
    }

    void Tick(object state)
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        WFBotWebUIServer.DataChanged -= HandleDataChanged;
        updateTimer?.Dispose();
    }

    public void HandleDataChanged(object sender, EventArgs args)
    {
        InvokeAsync(StateHasChanged);
    }

    void ExecuteCommand()
    {
        var c = command;
        Task.Run(() =>
        {
            WFBotCore.Instance.OnConsoleCommand(c);
        });
        command = "";
    }
}
