@page "/miraisettings"
@using WFBot.Orichalt
@using WFBot.Orichalt.OrichaltConnectors
@using Microsoft.AspNetCore.Components

@inject IBlazorStrap _blazorStrap
<BSToaster />
<PageTitle>设置</PageTitle>

<h1>设置</h1>

@if (Config.Instance.Miguel_Platform != MessagePlatform.MiraiHTTP)
{
    <div class="alert alert-danger mb-3" role="alert">
        请先将连接器切换到 Mirai
    </div>
    <button class="btn btn-primary" @onclick="() => { Config.Instance.Miguel_Platform = MessagePlatform.MiraiHTTP; Config.Save(); }">点这里来将连接器切换到 Mirai</button>
}
else
{
    
    <div class="mb-3">
        <button class="btn btn-primary" @onclick="Save">保存</button>
    </div>


    <div class="card mb-3">
        <div class="card-body " >
            <div style="max-height: 600px; overflow-y: auto; ">
                <fieldset>
                    

                    <div class="mb-2 row">
                        <label class="col-sm-2 col-form-label">Host</label>
                        <div class="col-sm-10">
                            <input @bind="config.Host" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-sm-2 col-form-label">Port</label>
                        <div class="col-sm-10">
                            <input @bind="config.Port" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-sm-2 col-form-label">VerifyKey</label>
                        <div class="col-sm-10">
                            <input @bind="config.AuthKey" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-sm-2 col-form-label">机器人的QQ号</label>
                        <div class="col-sm-10">
                            <input @bind="config.BotQQ" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="form-check form-switch">
                            <input @bind="config.AutoRevoke" class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                是否自动撤回
                            </label>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-sm-2 col-form-label">自动撤回的时间(单位: 秒)</label>
                        <div class="col-sm-10">
                            <input @bind="config.RevokeTimeInSeconds" type="number" class="form-control">

                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="form-check form-switch">
                            <input @bind="config.UseHttps" class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                使用 https(不懂不要选)
                            </label>
                        </div>
                    </div>
                    
                </fieldset>
                
                
                

            </div>
        </div>
    </div>
}



@code
{
    MiraiConfig config => MiraiConfig.Instance;
    async void Save()
    {
        await Task.Run(() =>
        {
            MiraiConfig.Save();

        });
        _blazorStrap.Toaster.Add("提示", "保存成功");
    }
}