@page "/onebotsettings"
@using WFBot.Orichalt
@using WFBot.Orichalt.OrichaltConnectors
@using Microsoft.AspNetCore.Components
<PageTitle>设置</PageTitle>

<h1>设置</h1>
<div class="mb-3">
    <button class="btn btn-primary" @onclick="() => OneBotConfig.Save()">保存</button>
</div>


<div class="card mb-3">
    <div class="card-body " >
            <div style="max-height: 600px; overflow-y: auto; ">
                <fieldset>
                    

                    <div class="mb-2 row">
                        <label class="col-sm-2 col-form-label">Host</label>
                        <div class="col-sm-10">
                            <input @bind="Host" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-sm-2 col-form-label">Port</label>
                        <div class="col-sm-10">
                            <input @bind="Port" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-sm-2 col-form-label">AccessToken</label>
                        <div class="col-sm-10">
                            <input @bind="AccessToken" type="text" class="form-control">
                        </div>
                    </div>
                    

                    
                </fieldset>
                
                
                

            </div>
    </div>
</div>

@code
{
    OneBotConfig config => OneBotConfig.Instance;
    string Host { get => config.host; set => config.host = value; }
    string Port { get => config.port; set => config.port = value; }
    string AccessToken { get => config.accesstoken; set => config.accesstoken = value; }
}