@page "/onebotsettings"
@using WFBot.Orichalt
@using WFBot.Orichalt.OrichaltConnectors
@using Microsoft.AspNetCore.Components
<PageTitle>设置</PageTitle>

<h1>设置</h1>


@if (Config.Instance.Miguel_Platform != MessagePlatform.OneBot)
{
    <div class="alert alert-danger mb-3" role="alert">
        请先将连接器切换到 Onebot
    </div>
    <button class="btn btn-primary" @onclick="() => { Config.Instance.Miguel_Platform = MessagePlatform.OneBot; Config.Save(); }">点这里来将连接器切换到 Onebot</button>
}
else
{
    <div class="mb-3">
        <button class="btn btn-primary" @onclick="() => OneBotConfig.Save()">保存</button>
    </div>


    <div class="card mb-3">
        <div class="card-body ">
            <div style="max-height: 600px; overflow-y: auto;">
                <fieldset>


                    <div class="mb-2 row">
                        <label class="col-sm-2 col-form-label">Host</label>
                        <div class="col-sm-10">
                            <input @bind="config.host" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-sm-2 col-form-label">Port</label>
                        <div class="col-sm-10">
                            <input @bind="config.port" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-sm-2 col-form-label">AccessToken</label>
                        <div class="col-sm-10">
                            <input @bind="config.accesstoken" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="form-check form-switch">
                            <input @bind="config.AutoRevoke" class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                是否自动撤回
                            </label>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-sm-2 col-form-label">自动撤回的时间(单位: 秒)</label>
                        <div class="col-sm-10">
                            <input @bind="config.RevokeTimeInSeconds" type="number" class="form-control">

                        </div>
                    </div>



                </fieldset>




            </div>
        </div>
    </div>
}
@code
{
    OneBotConfig config => OneBotConfig.Instance;
}