<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConfigureAwait.Fody" version="3.3.1" targetFramework="net462" />
  <package id="Fastenshtein" version="1.0.0.5" targetFramework="net462" />
  <package id="Fody" version="6.1.0" targetFramework="net462" developmentDependency="true" />
  <package id="GammaLibrary" version="1.2.0" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.11.20" targetFramework="net462" />
  <package id="Humanizer.Core" version="2.7.9" targetFramework="net462" />
  <package id="Humanizer.Core.zh-CN" version="2.7.9" targetFramework="net462" />
  <package id="IdentityModel" version="4.1.1" targetFramework="net462" />
  <package id="Lib.Harmony" version="2.0.2" targetFramework="net462" />
  <package id="Microsoft.NETCore.Platforms" version="3.1.0" targetFramework="net462" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="Richasy.WFA.Sdk" version="1.0.6" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="4.7.0" targetFramework="net462" />
  <package id="System.Threading" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net462" />
  <package id="TextCommandCore" version="1.6.1" targetFramework="net462" />
  <package id="websocket-sharp.clone" version="3.0.0" targetFramework="net462" />
</packages>