<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConfigureAwait.Fody" version="3.0.0" targetFramework="net462" />
  <package id="Costura.Fody" version="3.2.0" targetFramework="net462" />
  <package id="Fody" version="3.3.5" targetFramework="net462" developmentDependency="true" />
  <package id="GammaLibrary" version="1.1.10" targetFramework="net462" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net462" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net462" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net462" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net462" />
  <package id="TextCommandCore" version="1.6.1" targetFramework="net462" />
</packages>