version: '3.9'

services:
  mirai:
    restart: unless-stopped
    image: trksteam/mirai-docker:latest
    volumes:
      - ./config:/app/config
      - ./data:/app/data
      - ./logs:/app/logs
      - ./bots:/app/bots
    deploy:
      labels:
        com.centurylinklabs.watchtower.enable: true
  wfbot:
    restart: unless-stopped
    image: trksteam/wfbot
    ports:
      - "9331:9331"
    volumes: 
        - ./WFBotPlugins:/app/WFBotPlugins
        - ./WFBotLogs:/app/WFBotLogs
        - ./WFOfflineResource:/app/WFOfflineResource
        - ./WFBotConfigs:/app/WFBotConfigs
    deploy:
      labels:
        com.centurylinklabs.watchtower.enable: true
  watchtower:
    restart: unless-stopped
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      WATCHTOWER_LABEL_ENABLE: 'true'
      WATCHTOWER_POLL_INTERVAL: 1800
      WATCHTOWER_CLEANUP:  'true'

