name: Build Check

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x

      - name: Reset Tags
        run: git fetch --tags

      - name: Clean 1
        run: dotnet clean WFBot.sln --configuration "Windows Release" && dotnet nuget locals all --clear
      - name: Clean 2
        run: dotnet clean WFBot.sln --configuration "Linux Release" && dotnet nuget locals all --clear
      - name: Restore dependencies
        run: dotnet restore

      - name: Windows Build
        run: dotnet publish WFBot -c "Windows Release" -o WindowsPublish --self-contained false
      - name: Linux Build
        run: dotnet publish WFBot -c "Linux Release" -o LinuxPublish --self-contained false
