name: [Deprecated]Update Sponsors

on: workflow_dispatch

#  schedule:
#    # * is a special character in YAML so you have to quote this string
#    - cron:  '35 7,19 * * *'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'universal'

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x

      - name: Clone Updater
        run: git clone https://github.com/TRKS-Team/WFBotSponsorUpdater.git ../WFBotSponsorUpdater/

      - name: Run Updater
        run: dotnet run -p ../WFBotSponsorUpdater

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$('%Y-%m-%d')"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: 更新赞助者名单
          delete-branch: true
          title: 更新赞助者名单
          body: 更新赞助者名单 by Cyl18
          labels: awsl, doc

